mat-card {
    padding: 10px;
}

button {
    margin-right: 10px;
}
mat-icon, h3{
    color: #2b2b5e;
}
.mat-calendar-controls button.mat-calendar-period-button.mdc-button.mat-mdc-button.mat-unthemed.mat-mdc-button-base {
    background: none !important;
}