<div class="container">
    <router-outlet></router-outlet>
    <app-usuario></app-usuario>
    <div class="clear"></div>
    <div class="espacio"></div>
    <!-- Navegación de categorías -->
    <div class="navegacion">
        <hr>
        <ul class="nav nav-tabs flex">
            <li *ngFor="let categoria of categorias" class="nav-item">
                <a class="nav-link" style="cursor: pointer" (click)="seleccionarCategoria(categoria); $event.preventDefault()">
                    <div class="text-center"><mat-icon>radio_button_checked</mat-icon></div>
                    <span matTooltip="{{ categoria?.tooltipType }}" class="badge rounded-pill text-center"
                    [ngClass]="{
                        'bg-categorias': categoria !== categoriaSeleccionada,
                        'bg-categorias-seleccionada': categoria === categoriaSeleccionada,
                        'bg-categorias-answered': categoria !== categoriaSeleccionada && allQuestionsAnswered[categoria.categoryType?.toLowerCase()|| ''] === true,
                        'bg-categorias-seleccionada-answered': categoria === categoriaSeleccionada && allQuestionsAnswered[categoria.categoryType?.toLowerCase()|| ''] === true
                    }">
                    {{ categoria?.categoryType }}</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Contenido de las preguntas -->
    <div class="mt-4">
        <div *ngIf="!nonEditable" role="alert" class="alert alert-info">{{'INFO_GUARDADO_AUTOMATICO' | translate }}</div>
        <div *ngIf="nonEditable" role="alert" class="alert alert-info">{{'INFO_NO_EDITABLE' | translate }}</div>
      <form [formGroup]="preguntasForm">

        <!-- Tabla para preguntas OBLIGATORIAS -->
                <div class="pull-left"><h3>{{'QUESTIONS' | translate }}</h3> <span class="badge rounded-pill bg-puntuacion"> {{porcentajeObligatorias.toFixed(2)}}% {{'DE' | translate }} 100%</span></div>
<!--
                <button class="btn btn-primary pull-right " (click)="guardarRespuestas()"><div class="centerContent"><span style="margin-right: 5px">Guardar</span><mat-icon (click)="guardarRespuestas()" title="{{'SAVE' | translate }}">save</mat-icon></div></button>
-->
                <div class="clear"></div>
                <div class="table-container">
                    <table class="table responsive-table">
                        <thead>
                            <tr>
                                <th width="40%">{{'ITEM' | translate }}</th>
                                <th class="text-center" width="200">{{'RESPUESTA' | translate }}</th>
                                <th class="text-center">{{'ESTADO' | translate }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            <ng-container  *ngFor="let pregunta of preguntas; let i = index" >
                                <tr *ngIf="(categoriaSeleccionada === null || pregunta.categoria.id === categoriaSeleccionada?.id)">
                                    <td>
                                        <div style="text-align: right;">
                                            <span *ngIf="pregunta.ayuda != ''" matTooltip="{{ pregunta.ayuda }}"
                                                    matTooltipPosition="above"
                                                    tabindex="0">
                                                <mat-icon>info</mat-icon>
                                            </span>
                                        </div>
                                      <div *ngIf="pregunta.texto !== undefined && pregunta.texto !== null">
                                        <strong>{{ formatearTexto(getLanguagedText(pregunta)).parteNegrita }}</strong>{{ formatearTexto(getLanguagedText(pregunta)).resto }}
                                      </div>                                            <br><br>

                                      <div *ngIf="pregunta.hasUrlText == 1">
                                            <span class="text-info" *ngIf="!nonEditable">{{'INDICAR_URL' | translate }}</span>
                                            <span class="text-info" style="margin-left: 20px" *ngIf="nonEditable">{{'URL_INDICADA' | translate }}</span>

                                        <div>
                                          <mat-form-field appearance="outline">
                                            <textarea [readonly]="nonEditable" rows="2" class="form-control" matInput (blur)="textAreaLoseFocus(nonEditable, $event,pregunta)" (change)="updatedTextArea(pregunta)" [formControl]="getUrlControl(i)"  >{{ pregunta.texto_URL_evidencia }} </textarea>
                                          </mat-form-field>
                                        </div>


                                      </div>
                                          <div *ngIf="pregunta.hasFileAttach == 1" style="margin-top: auto;">
                                              <div class="mt-2 archivo centerVertical">

                                                <div *ngIf="!nonEditable">
                                                  <input type="file" id="fileInput{{i}}" style="display:none;" (change)="onFileChange($event, pregunta)">
                                                  <label for="fileInput{{i}}" class="btn btn-primary">{{'CARGAR_DOCUMENTO' | translate }}</label>
                                                </div>

                                                <span class="ml-2" *ngIf="!downloadable">{{ pregunta.documentacion?.normalizedDocumentName }}</span>
                                                <span class="ml-2" *ngIf="downloadable" (click)="downloadFile(pregunta)" class="hiperLink">{{ pregunta.documentacion?.normalizedDocumentName }}</span>

                                                <div *ngIf="!nonEditable"><mat-icon class="cursor-pointer" *ngIf="pregunta.documentacion != null" (click)="clearFile(pregunta)">clear</mat-icon></div>

                                              </div>
                                          </div>
                                    </td>
                                    <td class="text-center verticalmiddle">
                                        <app-switch [disabled]="nonEditable" [options]="opciones" [currentPos]="getCurrentPos(pregunta)" [styleScss]="estilos" (positionChange)="handlePositionChange($event,pregunta)"></app-switch>
                                    </td>
                                    <td class="text-center verticalmiddle"><div class="badge rounded-pill bg-{{ pregunta.estado }}">{{pregunta.estado | translate }}</div></td>
                                    <td class="verticalmiddle" style="width: auto; max-width: 260px; padding: 6px;"
                                        [ngStyle]="{'background-color': pregunta.respuesta != false && pregunta.hasNegativeExtraResponse ? '#ececec' : 'transparent',
                                                 'opacity': pregunta.respuesta != false && pregunta.hasNegativeExtraResponse ? '0' : '1'}">

                                    <span *ngIf="pregunta.hasNegativeExtraResponse">

                                        <div style="text-align: right;">
                                            <span *ngIf="pregunta.negativeMessage != ''" matTooltip="{{ pregunta.negativeMessage }}"
                                                  matTooltipPosition="above" tabindex="0">
                                                <mat-icon>info</mat-icon>
                                            </span>
                                        </div>

                                        <div class="flex flex-column gap-3 m-2">
                                            <div *ngFor="let category of categories" class="field-checkbox">
                                                <div class="checkbox-container">
                                                    <p-radioButton
                                                            [disabled]="nonEditable"
                                                            [inputId]="category.key" name="category"
                                                            [value]="category" [(ngModel)]="pregunta.selectedCategory"
                                                            [ngModelOptions]="{ standalone: true }"
                                                            (click)="selectedRadio(pregunta,pregunta.id, category.key)">
                                                    </p-radioButton>
                                                    <label [for]="category.key" class="ml-2">{{ getLanguagedRadioButtonText(category) }}</label>
                                                </div>
                                            </div>
                                        </div>

                                    </span>

                                    </td>
                                </tr>
                            </ng-container>

                        </tbody>
                    </table>
                </div>
                <br><br>

      <br><br>
    </form>
      <div class="mb-3 d-flex justify-content-end">
        <button class="btn btn-primary certificate" (click)="descargarCertificado()" *ngIf="hideCertificate || nonEditable">{{'DESCARGAR_INFORME' | translate }}</button>
        <button class="btn btn-primary" (click)="cambiarACategoriaAnterior()" *ngIf="categorias.indexOf(categoriaSeleccionada) > 0">{{'CATEGORIA_ANTERIOR' | translate }}</button>
        <button class="btn btn-primary" (click)="cambiarASiguienteCategoria()" *ngIf="categorias.indexOf(categoriaSeleccionada) < categorias.length - 1">{{'SIGUIENTE_CATEGORIA' | translate }}</button>
        <!--<button class="btn btn-primary" (click)="guardarRespuestas()"><div class="centerContent"><span style="margin-right: 5px">Guardar</span><mat-icon (click)="guardarRespuestas()" title="{{'SAVE' | translate }}">save</mat-icon></div></button>-->
        <span *ngIf="!nonEditable"><button class="btn btn-primary" (click)="envioCuestionario()" >{{'ENVIAR_CUESTIONARIO' | translate }}</button></span>
        <span *ngIf="observation"><button class="btn btn-primary" (click)="envioYCierre()" >{{'ENVIAR_Y_CERRAR' | translate }}</button></span>
        <span *ngIf="observation"><button class="btn btn-primary" (click)="envioCuestionarioObservaciones()" >{{'ENVIAR_COMENTARIOS' | translate }}</button></span>
        <span *ngIf="nonEditable"><button class="btn btn-primary" (click)="returnLastPage()" >{{'VOLVER_CUESTIONARIO' | translate }}</button></span>
      </div>
      </div>
</div>

<div class="overlay" *ngIf="closingQuestionnaire">
  <mat-spinner class="spinner" diameter="50" strokeWidth="8" color="primary"></mat-spinner>
</div>
