<div class="container">
  <div class="m-5 d-flex flex-column form-group" *ngIf="!correctCode">
    <span class="mb-1" style="font-weight: bold">{{ "RECOVER-TEXT" | translate}}</span>
    <input class="mb-1 form-control" style="max-width: 300px" pInputText pKeyFilter="int" placeholder='{{ "CODIGO" | translate}}' [(ngModel)]="code" />
    <button type="submit" class="btn btn-primary" (click)="validateCode()">{{ "VALIDATE" | translate}}</button>
  </div>

  <div class="m-5 d-flex flex-column form-group" *ngIf="correctCode">
    <span class="mb-1" style="font-weight: bold">{{ "RECOVER-TEXT-2" | translate}}</span>
    <input type="password" class="mb-1 form-control" style="max-width: 300px" pInputText pKeyFilter="int" placeholder='{{ "CONTRASEÑA" | translate}}' [(ngModel)]="newPass" />
    <input type="password" class="mb-1 form-control" style="max-width: 300px" pInputText pKeyFilter="int" placeholder='{{ "REPETIR_CONTRA" | translate}}' [(ngModel)]="repeatNewPass" />
    <span style="color: #b41515" *ngIf="passShort">{{ "RECOVER-TEXT-3" | translate}}</span>
    <span style="color: #b41515" *ngIf="passNotEqual">{{ "RECOVER-TEXT-2" | translate}}</span>
    <button type="submit" class="btn btn-primary" (click)="validatePass()">{{ "VALIDATE" | translate}}</button>
  </div>
</div>

