.nuevo-periodo-btn {
    margin-bottom: 20px;
  }
  
  .badge {
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #ccc; // color por defecto
  }
  
  .mat-column-descripcion {
    width: 30%;
}