<div class="header">
    <h2 mat-dialog-title>{{ data.title }}</h2>
    <mat-icon class="close-icon" (click)="onClose()">close</mat-icon>
  </div>

  <mat-dialog-content>
    {{ data.content }}
    <table mat-table [dataSource]="data.history" class="mat-elevation-z8">
      <!-- Columna FECHA -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef>{{ 'FECHA' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.lastEdited | date:'dd/MM/yyyy HH:mm:ss' }}</td>
      </ng-container>

      <!-- Columna RESPONSABLE -->
      <ng-container matColumnDef="responsable">
        <th mat-header-cell *matHeaderCellDef>{{ 'EDITOR' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.userId && element.userId.email">
            <div>
              {{ element.userId.email }}
            </div>
          </ng-container>
        </td>
      </ng-container>

      <!-- Columna ACCIÓN -->
      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef>{{ 'ACCIONES' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.actionId.description }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['fecha', 'responsable', 'accion']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['fecha', 'responsable', 'accion'];"></tr>
    </table>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="btn btn-primary" (click)="onClose()">{{ "CERRADO" | translate }}</button>
  </mat-dialog-actions>
